.fondo {
	-fx-background-color: WHITE;
}

.boton-aceptar {
	-fx-background-color: #0598ff;
	-fx-text-fill: WHITE;
	-fx-font-weight: bolder;
}
.boton-sesion {
	-fx-background-color: ORANGE;
	-fx-text-fill: WHITE;
	-fx-font-weight: bolder;
}
.boton-cancelar {
	-fx-background-color: red;
	-fx-text-fill: WHITE;
	-fx-font-weight: bolder;
}
.campos {
	-fx-background-color: transparent;
	-fx-border-color: #0598ff;
	-fx-border-width: 0px 0px 2px 0px;
}
.texto-campos {
	-fx-text-fill: #0598ff;
	-fx-font-weight: bolder;
}
.titulo {
	-fx-text-fill : #0598ff;
	-fx-font-weight: bolder;
}
.tabla {
	-fx-background-color: WHITE;

}
.tabla .column-header .label {
	-fx-background-color: #0598ff;
	-fx-text-fill: WHITE;
	-fx-font-weight: bolder;
	-fx-border-width: 0px;
}
.tab .tab-header-background {
	-fx-background-color: WHITE;
}
.tab {
	-fx-background-color: WHITE;
	-fx-border-width: 0px 0px 2px 0px;
	-fx-border-color: #0598ff;
	-fx-text-fill: #0598ff;
}
.tab:selected {
	-fx-background-color: #0598ff;
	-fx-text-fill: WHITE;
}
.tab-label {
	-fx-text-fill: #0598ff;
	-fx-font-weight: bolder;
}
.tab:selected .tab-label {
	-fx-text-fill: WHITE;
	-fx-font-weight: bolder;
}

.menu-lateral-boton {
	-fx-background-color: transparent;
	-fx-border-color: #0598ff;
	-fx-border-width: 0px 0px 2px 0px;
	-fx-text-fill: #0598ff;
	-fx-font-weight: bolder;
}

.menu-lateral-boton:hover {
	-fx-background-color: #0598ff;
	-fx-text-fill: WHITE;
}

.menu-lateral-fondo {
	-fx-background-color: WHITE;
}