.campos {
	-fx-background-color: transparent;
	-fx-border-color: #0598ff;
	-fx-border-width: 0px 0px 2px 0px;
}

.lateral-izquierdo {
	-fx-background-color: #0598ff;
}

.lateral-derecho {
	-fx-background-color: WHITE;
}

.titulo {

}

.boton {
	-fx-background-color: #0598ff;
	-fx-text-fill: WHITE;
}