.boton-calculadora {
	-fx-background-color: transparent;
	-fx-border-color: #0598ff;
	-fx-border-width: 2.5px;
	-fx-border-radius: 5px;
	-fx-text-fill: #0598ff;
}

.boton-limpiar {
	-fx-background-color: red;
	-fx-border-radius: 5px;
	-fx-border-color: red;
	-fx-border-width: 2.5px;
	-fx-font-weight: bolder;
	-fx-text-fill: WHITE;
}

.boton-confirmar {
	-fx-background-color: green;
	-fx-border-radius: 5px;
	-fx-border-color: green;
	-fx-border-width: 2.5px;
}